---
Checks: >
  -*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-naming,
  -readability-identifier-length,
  -readability-redundant-access-specifiers,
  readability-identifier-naming,
  modernize-use-using,
  readability-make-member-function-const,
  readability-qualified-auto,
  readability-simplify-boolean-expr,
  readability-redundant-member-init,
  readability-container-size-empty,
  readability-inconsistent-declaration-parameter-name,
  readability-non-const-parameter,
  misc-definitions-in-headers,
  misc-unused-parameters,
  misc-unused-using-decls,
  misc-static-assert,
  misc-throw-by-value-catch-by-reference,
  misc-unused-alias-decls,
  misc-unused-parameters,
  -hicpp-no-endl,
  -modernize-use-nodiscard,
  -modernize-use-enum-base,
  -readability-braces-around-statements,
  -performance-enum-size,
  -readability-magic-numbers,
  -performance-avoid-endl,
  -bugprone-exception-escape
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!.*_deps).*\.(hpp|h)$'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassPattern
    value: ^[A-Z][a-zA-Z0-9]+$
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantPattern
    value: ^[A-Z][A-Z0-9_]*$
  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstexprVariablePattern
    value: ^[A-Z][A-Z0-9_]*$
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionPattern
    value: ^[A-Z][a-zA-Z0-9]*$
  - key: readability-identifier-naming.GlobalFunctionCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalFunctionPattern
    value: ^[A-Z][a-zA-Z0-9]*$
  - key: readability-identifier-naming.MemberFunctionCase
    value: CamelCase
  - key: readability-identifier-naming.MemberFunctionPattern
    value: ^[A-Z][a-zA-Z0-9]*$
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.VariablePattern
    value: ^[a-z][a-z0-9_]*$
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: ''
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key: readability-identifier-naming.PublicMemberPrefix
    value: ''
  - key: readability-identifier-naming.StaticMemberCase
    value: lower_case
  - key: readability-identifier-naming.StaticMemberPrefix
    value: s_
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: g_
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantPattern
    value: ^[A-Z][A-Z0-9_]*$
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.NamespacePattern
    value: ^ISX[A-Z][a-zA-Z0-9]*$
  - key: readability-identifier-naming.InterfaceCase
    value: CamelCase
  - key: readability-identifier-naming.InterfacePattern
    value: ^I[A-Z][a-zA-Z0-9]*$
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionPattern
    value: ^[A-Z][A-Z0-9_]*$
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefPattern
    value: ^[A-Z][a-zA-Z0-9]*$
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: IncludeOrder
    value: "system, third-party, project"
  - key: readability-identifier-naming.GlobalVariablePattern
    value: '^(g_|s_)[a-z][a-z0-9_]*$'
...

