# Database variables
DATABASE_USER=postgres
DATABASE_PASSWORD=smtp!!!
DATABASE_NAME=smtp-db
DATABASE_HOST=localhost
DATABASE_PORT=5432
INIT_SCRIPT_PATH=./src/DB/DBQueries/Init

# Server variables
DATABASE_URL=postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}
